<section class="comments">
  <div class="comment-form">
    <% if current_user.present? %>
        <%= render 'comments/form' %>
    <% else %>
        <%= link_to 'Please sign in before comment the article', root_path %>
    <% end %>
  </div>
  <p>Comments:</p>
  <div id='comments'>
    <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      <%#= paginate @comments %>
    <% else %>
      <span id="no-comments">No comments yet</span>
    <% end %>
  </div>
</section>



