<section class="comments">
  <div class="comment-form">
    <% if current_user.present? %>
        <%= render 'comments/form' %>
    <% else %>
        <%= link_to 'Please sign in before comment the article', root_path %>
    <% end %>
  </div>
  <p>Comments:</p>
  <% if @comments.present? %>
    <div id='comments'>
      <% @comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    </div>
    <%#= paginate @comments %>
  <% else %>
    <span id="no_comments">No comments yet</span>
  <% end %>
</section>



