<section class="comments">
  <div class="comment-new">
    <% if current_user.present? %>
        <h5 class="comment-h5">You can leave your comment here:</h5>
        <%= render 'comments/form' %>
    <% else %>
        <%= link_to 'Please sign in before comment the article', root_path %>
    <% end %>
  </div>
</section>
<section class='comments' id="comments" data-remote="true">
  <br>
  <p>Comments:</p>
    <% if @comments.present? %>
      <%= render partial: 'comments/comment', collection: @comments %>
    <% else %>
      <span id="no_comments">No comments yet</span>
    <% end %>
</section>
