<section class='articles'>
  <%- model_class = Article -%>
  <div class="page-header">
    <% if current_user.present? %>
      <%= link_to 'Create new Article', new_article_path, :class => 'btn btn-primary' %>
    <% end %>
  </div>
  <div id="article_items">
    <%= render @articles %>
  </div>
  <div id="paginator">
    <%= paginate @articles, :params => { :controller => 'articles', :action => 'index'}, remote: true %>
  </div>
</section>
