// Place all the styles related to the hints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.hints {
  padding-top: 10px;
}
.hint-modal {
  cursor: pointer;
}

.mr15 {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.left {
  float: left;
}

a {
  cursor: pointer;
}

.right {
  text-align: right;
}

table {
  width:100%;
}

table tr .word-wrap {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
