// Place all the styles related to the hints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hint-modal {
  cursor: pointer;
}

.mr15 {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.left {
  float: left;
}

a {
  cursor: pointer;
}
